<ion-view view-title="Home" cache-view="false">
  <div class="bar bar-header bar-dark">
    <h1 class="title"> {{category.name}}</h1>
  </div>
  <div class="float-button">
    <span class="height-fix">
      <a class="content" href="#/create/{{category.id}}">
        <i class="ion-plus-round"> </i>
      </a>
    </span>
  </div>
  <ion-content class="padding has-header">
    <div class="list card" ng-repeat="exercise in exercises">
      <div class="item">
        <h2>{{exercise.name}}</h2>
      </div>

      <div class="item item-body">
        <div class="center-cropped">
          <img class="full-image" ng-show="exercise.image !== null" ng-src="{{urlForImage(exercise.image)}}">
        </div>
        <p>{{exercise.description}}</p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Start Practice
        </a>
        <a class="tab-item" href="#" ng-click="deleteExercise(exercise)">
          <i class="icon ion-android-delete"></i>
          Delete
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
