<ion-view class="has-header">
  <div class="bar bar-header bar-dark">
    <h1 class="title">{{exercise.name}}</h1>
  </div>
  <ion-tabs class="tabs-positive tabs-icon-only tabs-icon-top">

    <ion-tab title="Overview" icon-on="ion-home" icon-off="ion-home" href="#/exercise/{{exerciseId}}/overview">
      <ion-nav-view name="exercise-overview" cache-view="false" class="has-header"></ion-nav-view>
    </ion-tab>

    <ion-tab title="History" icon-on="ion-" icon-off="ion-arrow-graph-up-right" href="#/exercise/{{exerciseId}}/history">
      <ion-nav-view name="exercise-history"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>

