<ion-view>
  <div class="float-button">
    <span class="height-fix">
      <a class="content" href="#/exercise/{{exerciseId}}/play">
        <i class="ion-plus-round"> </i>
      </a>
    </span>
  </div>
  <ion-content class="has-tabs-top">
    <div class="center-cropped">
      <img class="full-image" ng-show="exercise.image !== null" ng-src="{{urlForImage(exercise.image)}}">
    </div>
    <div class="row" ng-show="exercise.log.date !== undefined">
      <div class="col col-50">
        <div class="card">
          <div class="item item-divider">
            {{getFormattedDate(exercise.log.date)}}
          </div>
          {{exercise.log.speed}} bpm
        </div>
      </div>
      <div class="col col-50">
        <div class="card">
          <div class="item item-divider">
            next session
          </div>
          {{getNextSessionBpm()}} bpm
        </div>
      </div>
    </div>
    <div class="row" ng-show="exercise.log.date === undefined">
      <div class="col col-100">
        <div class="card">
          <div class="item item-text-wrap">
            No entries yet. Start practising now!
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>



